div{
    box-sizing: border-box;
}

.design{
    font-family: Arial;
    font-size: 30px;

    color: gray;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid gray;
    border-radius: 15px;

    background: lightsteelblue;
}

.wrap{
    width: 100vw;
    height: 50vh;
}

.a{
    height: calc(100%/3);
}

.bcdef{
    height: calc(2*100%/3);
    display: flex;
}

.bcde{
    width: 75%;
}

.cde{
    display: flex;
    justify-content: space-between;
}

.f{
    width: 25%;
}

.w13{
    width: calc(100%/3);
}

.h50{
    height: 50%;
}

.h100{
    height: 100%;
}

.w100{
    width: 100%;
}

.mb{
    margin-bottom: 5px;
}

.mr{
    margin-right: 5px;
}

@media screen and (max-width: 500px){
    div{
        margin: 0 0 0 0;
    }

    .a{
        height: 20%;
        width: 100%;
        margin-bottom: 5px;
    }

    .bcdef{
        height: 80%;
        display: block;
    }

    .bcde{
        width: 100%;
        height: 75%;
        margin-bottom: 10px;
    }

    .b{
        height: calc(2*100%/3);
    }

    .cde{
        height: calc(100%/3);
    }

    .f{
        width: 100%;
        height: 25%;
    }

}